@charset "utf-8";

body {
	cursor: url("../images/cursor.cur"), auto;
}


.footer-vadzim {
	height: 100%;
    width: 100%;
    background: lightgray;
	margin-top: 12px;
	padding: 23px 0px;
}

.colortext {
	color: red;
}



/*///////////// gallery CSS /////////////*/

.-fx-image-gal {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	/*max-width: 960px;*/
	justify-content: center;
}
.-fx-gal-item {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.-fx-gal-item a {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.-fx-gal-image-thumb img {
	width: 100%;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.1);
	transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.5);
	transition: all 0.5s ease;
}
@media (min-width: 420px) {
	.-fx-image-gal {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.-fx-gal-item {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.-fx-gal-item {
		width: 33.33%;
	}
}











header {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
  padding-top: 20%;
  transform-style: inherit;
  width: 100vw;
}
header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1531114181037-5e61a592cf2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=23dbfaafedbf9400522ef9c47334f99a&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  /* Параллакс */
  transform: translateZ(-1px) scale(2);
}
header h1 {
  margin-top: -100px;
  font-size: 42px;
}
