@charset "utf-8";

body {
	cursor: url("../images/cursor.cur"), auto;
}


.footer-vadzim {
	height: 100%;
    width: 100%;
    background: lightgray;
	margin-top: 12px;
	padding: 23px 0px;
}

.colortext {
	color: red;
}



/*///////////// gallery CSS /////////////*/

.-fx-image-gal {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	/*max-width: 960px;*/
	justify-content: center;
}
.-fx-gal-item {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.-fx-gal-item a {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.-fx-gal-image-thumb img {
	width: 100%;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.1);
	transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.5);
	transition: all 0.5s ease;
}
@media (min-width: 420px) {
	.-fx-image-gal {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.-fx-gal-item {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.-fx-gal-item {
		width: 33.33%;
	}
}













.wp-block-cover-image {
  position: relative;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
  color: #fff;
  font-size: 2em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 0;
  max-width: 610px;
  padding: 14px;
  text-align: center;
}

.wp-block-cover-image.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/*
DO NOT COPY SECTION END
 */

/**
 COPY HERE!
 Add This to make background image parallax.
*/
.wp-block-cover-image {
  background-attachment: fixed;
  background-position: 50% 0;
}
